body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}

button {
  background: #4facfe;
  color: white;
  border: none;
}
